<html>
  <body>
    <h1>Boom</h1>
    <input id="messege element" type="text">
    <button onclick="sendMessege()">send</button>
    <u1 id="messege list">
    </ul>
  </body>
  <script src="/mainjs"></script>
</html>
