<html>
	<body>
		<h1>Match Making<h1>
		<div>
			<p>Username:<p>
			<input type="text" id="username">

			<p style="display: inline;">Roomname:<p>
			<input style="display: inline;"  type="text" id="new roomname">
			<button onclick="makeRoom()" style="display: inline;">make room</button>

			<p style="display: inline;">Roomname:<p>
			<input style="display: inline;"  type="text" id="existing roomname">
			<button onclick="joinRoom()" style="display: inline;">join room</button>
		</div>
		<script src="/matchmakingjs"></script>
	</body>
</html>
